[Desktop Entry]
Type=Application
Name=Arduino IDE
GenericName=Arduino IDE
Comment=An Open-source electronics platform for interactive projects.
Exec=arduino-ide %F
TryExec=arduino-ide
Path=/usr/bin
Icon=arduino-ide
Terminal=false
MimeType=text/x-arduino
Categories=Development;Education;IDE;Electronics;
Keywords=embedded electronics;avr;microcontroller;
StartupNotify=true
StartupWMClass=arduino-ide
X-Desktop-File-Install-Version=0.28
